<%- include("./partials/header") %>
  <h1>Hello world</h1>
  <p>
    <%= homeStartingContent %>
  </p>
  <% 
    const length = 10;
    posts.forEach(e=> { %>
      <h1><%= e.title %></h1>
      <%  const displayContent = e.body.length < length ? e.body : e.body.substring(0, length) + "..."; %>
      <p><%= displayContent%></p>
  <%}) %>

<%- include("./partials/footer") %>